[".vim/pack/git-plugins/start/ale"]
    type = "git-repo"
    url = "https://github.com/dense-analysis/ale.git/"
    refreshPeriod = "168h"

[".vim/pack/git-plugins/start/tmuxline.vim"]
    type = "git-repo"
    url = "https://github.com/edkolev/tmuxline.vim.git"
    refreshPeriod = "168h"

[".vim/pack/git-plugins/start/vim-project"]
    type = "git-repo"
    url = "https://github.com/leafOfTree/vim-project.git"
    refreshPeriod = "168h"

[".vim/pack/git-plugins/start/vimwiki"]
    type = "git-repo"
    url = "https://github.com/vimwiki/vimwiki.git"
    refreshPeriod = "168h"

[".vim/pack/git-plugins/start/ansible-vim"]
    type = "git-repo"
    url = "https://github.com/pearofducks/ansible-vim.git"
    refreshPeriod = "168h"

[".vim/pack/git-plugins/start/onedark.vim"]
    type = "git-repo"
    url = "https://github.com/joshdick/onedark.vim"
    refreshPeriod = "168h"

[".vim/pack/git-plugins/start/vim-airline"]
    type = "git-repo"
    url = "https://github.com/vim-airline/vim-airline.git"
    refreshPeriod = "168h"

[".vim/pack/git-plugins/start/vim-devicons"]
    type = "git-repo"
    url = "https://github.com/ryanoasis/vim-devicons.git"
    refreshPeriod = "168h"

[".vim/pack/git-plugins/start/tagbar"]
    type = "git-repo"
    url = "https://github.com/preservim/tagbar.git"
    refreshPeriod = "168h"

[".vim/pack/git-plugins/start/vim-surround"]
    type = "git-repo"
    url = "https://github.com/tpope/vim-surround.git"
    refreshPeriod = "168h"

[".vim/pack/git-plugins/start/vim-polyglot"]
    type = "git-repo"
    url = "https://github.com/sheerun/vim-polyglot.git"
    refreshPeriod = "168h"

[".vim/pack/git-plugins/start/fzf.vim"]
    type = "git-repo"
    url = "https://github.com/junegunn/fzf.vim.git"
    refreshPeriod = "168h"

[".vim/pack/git-plugins/start/vim-go"]
    type = "git-repo"
    url = "https://github.com/fatih/vim-go.git"
    refreshPeriod = "168h"

[".vim/pack/git-plugins/start/vim-gitgutter"]
    type = "git-repo"
    url = "https://github.com/airblade/vim-gitgutter.git"
    refreshPeriod = "168h"

[".vim/pack/git-plugins/start/editorconfig-vim"]
    type = "git-repo"
    url = "https://github.com/editorconfig/editorconfig-vim.git"
    refreshPeriod = "168h"

[".vim/pack/git-plugins/start/vim-maktaba"]
    type = "git-repo"
    url = "https://github.com/google/vim-maktaba.git"
    refreshPeriod = "168h"

[".vim/pack/git-plugins/start/vim-codefmt"]
    type = "git-repo"
    url = "https://github.com/google/vim-codefmt.git"
    refreshPeriod = "168h"

[".vim/pack/git-plugins/start/vim-glaive"]
    type = "git-repo"
    url = "https://github.com/google/vim-glaive.git"
    refreshPeriod = "168h"

